/* === Alerts === */
  .alert-container {
  }

  .alert-card {
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 0.8rem;
    gap: 0.8rem;
    border-left: 4px solid;
  }
  
  .alert-card li {
    list-style-type: none;
    margin: 0;
  }
  
  /* Tipos de alerta */
  .alert-item.danger {
    border-color: var(--color-danger);
  }
  
  .alert-item.warning {
    border-color: var(--color-warning);
  }
  
  .alert-item.info {
    border-color: var(--color-info);
  }
  
  .alert-item.success {
    border-color: var(--color-success);
  }
  
  .alert-icon {
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
  }